<!DOCTYPE html>
<html>
    <head>
        <title>Basic AngularJS App</title>
        <link rel="stylesheet" href="Controllers/myController/myController.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="App/myApp.js"></script>
        <!-- Controllers -->
        <script src="Controllers/myController/myController.js"></script>
        <script src="Controllers/namesController/namesController.js"></script>
        <script src="Controllers/personController/personController.js"></script>
        <!-- Services -->
        <script src="Services/myHttpService.js"></script>
    </head>

    <body>

        <!-- Initialize the AngularJS application -->
        <div ng-app="myApp">

            <!-- My Controller -->
            <div ng-include="'Controllers/myController/myController.html'"></div>

            <!-- Person Controller -->
            <div ng-controller="personController" class="person-controller">
                <h1>Person Controller Data</h1>

                <!-- Modules -->
                <p>First Name: <input type="text" ng-model="firstName"></p>
                <p>Last Name: <input type="text" ng-model="lastName"></p>
                <p>Full Name: {{firstName + " " + lastName}}</p>
                <p>Full Name2: {{fullName()}}</p>
                <p>Last Name with Filter: {{lastName | uppercase }}</p>
            </div>

            <!-- Names Controller -->
            <div ng-controller="namesController">
                <h1>Names  Controller Data</h1>

                <table border="1" width="100%">
                    <tr>
                        <th ng-click="orderByMe('name')">Name</th>
                        <th ng-click="orderByMe('country')">Country</th>
                    </tr>
                    <tr ng-repeat="x in names | orderBy:myOrderBy">
                        <td>{{x.name}}</td>
                        <td>{{x.country}}</td>
                    </tr>
                </table>

                <p><input type="text" ng-model="test" placeholder="Search"></p>
                <p>A filter orders these by country</p>
                <ul>
                    <!-- ng-Repeat -->
                    <li ng-repeat="x in names | orderBy:'country' | filter : test">
                    {{ x.name + ', ' + x.country }}
                    </li>
                </ul>

                <p>namesController's favourite color is: {{ favColor }}</p>
                <p>If the variable is the same name as rootscope, code pulls from the controller first!</p>
            </div>
        </div>
    </body>
</html>