<div class="dashboard" ng-show="!currentPage" role="main">
    <div class="dashboard-content">
        <h1>Welcome to the Dashboard</h1>
        <div class="button-grid">
            <button class="nav-button" ng-click="goToPage('myController')" aria-label="Go to My Controller page">
                My Controller
            </button>
            <button class="nav-button" ng-click="goToPage('namesController')" aria-label="Go to Names Controller page">
                Names Controller
            </button>
            <button class="nav-button" ng-click="goToPage('personController')" aria-label="Go to Person Controller page">
                Person Controller
            </button>
        </div>
    </div>
</div>

<div class="page-view" ng-show="currentPage">
    <button class="back-button" ng-click="backToDashboard()" aria-label="Back to dashboard">
        ← Back to Dashboard
    </button>
    
    <div ng-show="currentPage === 'myController'" ng-include="'../Controllers/myController/myController.html'"></div>

    <div ng-show="currentPage === 'namesController'" ng-include="'../Controllers/namesController/namesController.html'"></div>

    <div ng-show="currentPage === 'personController'" ng-include="'../Controllers/personController/personController.html'"></div>
    
    
</div>
